{% block skills %}
    <div class="skills">
        <div class="skills-container">
            <div class="header-text">
                <p>Навыки</p>
            </div>
            <div class="skills-list">
                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Python<br>
                        <progress value="85" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Знаю типы данных, операторы, управляющие конструкции.</li>
                            <li>Опыт работы с модулями и библиотеками, такими как os, requests, json, datetime.</li>
                            <li>Примеры: <a href="https://github.com/ThisIsKekWay/Deep_Python_Fantasies" >Учебные задания</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Django<br>
                        <progress value="75" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Знаю структуру проекта.</li>
                            <li>Есть опыт работы с ORM</li>
                            <li>Умею работать с шаблонизатором, создавать формы.</li>
                            <li>Знаю как настроить админ-панель</li>
                            <li>Могу собрать рабочий билд маркетплейса. <a href="https://kekway.pythonanywhere.com/">Проект</a></li>
                            <li>Код: <a href="https://github.com/ThisIsKekWay/marketplace" >Ссылка</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Flask<br>
                        <progress value="65" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Данный проект реализован на Flask</li>
                            <li>Есть опыт работы с ORM</li>
                            <li>Умею работать с шаблонизатором, создавать формы.</li>
                            <li>Код: <a href="https://github.com/ThisIsKekWay/CV" >Код проекта</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        SQL<br>
                        <progress value="70" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Могу создать запросы низкой и средней сложности.</li>
                            <li>Работал c MySQL в Workbench и SQLite3 в терминале.</li>
                            <li>С гуглом могу создавать процедуры</li>
                            <li>Примеры: <a href="https://github.com/ThisIsKekWay/SQL/" >Домашки</a></li>
                        </ul>
                    </div>
                </div>

                 <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Docker<br>
                        <progress value="70" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Могу создавать Dockerfile малого и среднего объёма.</li>
                            <li>Работал с Docker в терминале Linux</li>
                            <li>Освоил Docker Compose</li>
                            <li>Однажды поднял кластер Docker Swarm на удаленных серверах по SSH</li>
                            <li>Примеры: <a href="https://github.com/ThisIsKekWay/Containers" >Домашки</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Fast API<br>
                        <progress value="10" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Знаю минимальную базу. На данный момент реализации нет.</li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Linux<br>
                        <progress value="50" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Пожил некоторое время в терминале на виртуальной машине.</li>
                            <li>На курсах управлял правами групп и пользователей.</li>
                            <li>Поработал с планировщиком cron.</li>
                            <li>С гуглом и конспектами смогу написать bash-скрипты<li>
                            <li>Однажды настроил связку nginx + apache2 для виртуалки</li>
                            <li>Пример: <a href="https://github.com/ThisIsKekWay/Linux" >Домашки</a></li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        Git<br>
                        <progress value="60" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Работал с Git и в IDE и в терминале</li>
                            <li>Создаю, сращиваю ветки.</li>
                            <li>Могу оформить pull-request с форкнутого репо.</li>
                        </ul>
                    </div>
                </div>

                <div class="info-container">
                    <div class="info-header" onclick="toggleInfo(this)">
                        HTML + CSS<br>
                        <progress value="81" max="100"></progress>
                    </div>
                    <div class="info-content" style="display: none;">
                        <ul>
                            <li>Знаю тэги, могу их использовать.</li>
                            <li>Могу сверстать сайт с адаптивом через медиа-запросы.</li>
                            <li>Этот сайт тоже поддерживает адаптив.</li>
                            <li>Обучался в основном на практике, методом проб и ошибок, значит знания рваные и не совсем структурированные.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}